 /* Add a black background color to the top navigation */
 
 .topnav {
     background-color: #333;
     overflow: hidden;
 }
 /* Style the links inside the navigation bar */
 
 .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
 }
 /* Change the color of links on hover */
 
 .topnav a:hover {
     background-color: #ddd;
     color: black;
 }
 /* Container del login botton*/
 
 .topnav .login-container {
     float: right;
 }
 
 @media screen and (max-width: 600px) {
     .topnav .login-container {
         float: none;
     }
     .topnav a,
     .topnav input[type=text],
     .topnav .login-container button {
         float: none;
         display: block;
         text-align: left;
         width: 100%;
         margin: 0;
         padding: 14px;
     }
     .topnav input[type=text] {
         border: 1px solid #ccc;
     }
 }
 /* Add an active class to highlight the current page */
 
 .topnav a.active {
     background-color: #4CAF50;
     color: white;
 }
 /* Hide the link that should open and close the topnav on small screens */
 
 .topnav .icon {
     display: none;
 }
 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 
 @media screen and (max-width: 600px) {
     .topnav a:not(:first-child) {
         display: none;
     }
     .topnav a.icon {
         float: right;
         display: block;
     }
 }
 /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
 
 @media screen and (max-width: 600px) {
     .topnav.responsive {
         position: relative;
     }
     .topnav.responsive a.icon {
         position: absolute;
         right: 0;
         top: 0;
     }
     .topnav.responsive a {
         float: none;
         display: block;
         text-align: left;
     }
 }
 /* Hasta Aqui Menu Responsive */
 /* CARRUSEL */
 
 .img {
     width: 80%;
     position: center;
     margin: 10%;
     margin-top: 0%
 }
 
 * {
     box-sizing: border-box
 }
 /* Slideshow container */
 
 .slideshow-container {
     max-height: 1000px;
     position: center;
     margin-top: 2.5%;
 }
 /* Hide the images by default */
 
 .mySlides {
     display: none;
 }
 /* Next & previous buttons */
 
 .prev,
 .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -22px;
     padding: 16px;
     color: black;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
 }
 /* Position the "next button" to the right */
 
 .next {
     right: 0;
     border-radius: 3px 0 0 3px;
 }
 /* On hover, add a black background color with a little bit see-through */
 
 .prev:hover,
 .next:hover {
     background-color: rgba(0, 0, 0, 0.8);
 }
 /* Caption text */
 
 .text {
     color: black;
     font-size: 25px;
     position: center;
     width: 100%;
     text-align: center;
     margin-top: 5px;
 }
 /* Number text (1/3 etc) */
 /* The dots/bullets/indicators */
 
 .dot {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
 }
 
 .active,
 .dot:hover {
     background-color: #717171;
 }
 /* Fading animation */
 
 .fade {
     -webkit-animation-name: fade;
     -webkit-animation-duration: 1.5s;
     animation-name: fade;
     animation-duration: 1.5s;
 }
 
 @-webkit-keyframes fade {
     from {
         opacity: .4
     }
     to {
         opacity: 1
     }
 }
 
 @keyframes fade {
     from {
         opacity: .4
     }
     to {
         opacity: 1
     }
 }
 /* inicio login css*/
 
 body {
     font-family: Arial, Helvetica, sans-serif;
 }
 /* Full-width input fields */
 
 input[type=text],
 input[type=password] {
     width: 100%;
     padding: 15px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }
 /* Set a style for all buttons */
 
 button {
     background-color: #4CAF50;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
 }
 
 button:hover {
     opacity: 0.8;
 }
 /* Extra styles for the cancel button */
 
 .cancelbtn {
     width: auto;
     padding: 10px 18px;
     background-color: #f44336;
 }
 /* Center the image and position the close button */
 
 .imgcontainer {
     text-align: center;
     margin: 24px 0 12px 0;
     position: relative;
 }
 
 img.avatar {
     width: 40%;
     border-radius: 50%;
 }
 
 .container {
     padding: 16px;
 }
 
 span.psw {
     float: right;
     padding-top: 16px;
 }
 /* The Modal (background) */
 
 .modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.4);
     /* Black w/ opacity */
     padding-top: 60px;
 }
 /* Modal Content/Box */
 
 .modal-content {
     background-color: #fefefe;
     margin: 5% auto 15% auto;
     /* 5% from the top, 15% from the bottom and centered */
     border: 1px solid #888;
     width: 80%;
     /* Could be more or less, depending on screen size */
 }
 /* The Close Button (x) */
 
 .close {
     position: absolute;
     right: 25px;
     top: 0;
     color: #000;
     font-size: 35px;
     font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
     color: red;
     cursor: pointer;
 }
 /* Add Zoom Animation */
 
 .animate {
     -webkit-animation: animatezoom 0.6s;
     animation: animatezoom 0.6s
 }
 
 @-webkit-keyframes animatezoom {
     from {
         -webkit-transform: scale(0)
     }
     to {
         -webkit-transform: scale(1)
     }
 }
 
 @keyframes animatezoom {
     from {
         transform: scale(0)
     }
     to {
         transform: scale(1)
     }
 }
 /* Change styles for span and cancel button on extra small screens */
 
 @media screen and (max-width: 300px) {
     span.psw {
         display: block;
         float: none;
     }
     .cancelbtn {
         width: 100%;
     }
 }